*.exr filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text

# Very simple .obj files do not need to be tracked with LFS. They are ASCII anyway.
# If a large OBJ file is imported, use the exact filepath instead.
